.main1{
    text-align: center;
    color:darkgoldenrod;
    font-weight: bolder;
    font-size: 30px;
}
.first{
    border: 3px solid black;
    display: block;
    text-align: center;
    margin: 50px;
}
